html {
  @include fluid-type(font-size, 320px, 1366px, 12px, 14px);
  height: 100%;
  -webkit-font-smoothing:antialiased;
  font-family: typography(font-family);
}

a{
    color:C(gray1);
    text-decoration: none;
}

button{
    cursor: pointer;
}

body{
    height: 100%;
   // min-width: layout(min-width);
    padding: 6em 0 0;
    margin: 0;
    font-weight: 400;
    line-height: 1.4;
    position:relative;
    // font:400 #{typography(base-font-size)}/1.4 typography(font-family);
    color: black;
    overflow-y:scroll;
    overflow-x:hidden;
    tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: rgba(0,0,0,0);


    // preload images trick
    // &:before{ width:1px; height:1px; content:url('#{$path-images}svg/loader.svg'); display:none; }

    @include breakpoint(handheld){
        font-size: .8em;
        padding-top: 16em;

        .main-header{
            padding-bottom: 6em;
            .search-wrap{
                position: absolute;
                left: 1em;
                right: 1em;
                top: 9em;
            }
        }
    }
}

.toaster{
    padding: .5em 1.5em;
    .mint-toast-text {
        font-size: 1.2em;
    }
}